
body{
    background: #fffdf1;
}
#heading {
    text-align: left;
    font-family: myFont;
    font-size: 24px;
    color: lightpink;
    text-shadow: red 1px 0px, red 1px 1px, red 0px 1px, red -1px 1px, red -1px 0px, red -1px -1px, red 0px -1px, red 1px -1px;

}
#heading h1{
    margin-bottom: 0px;
}
#heading h4{
    margin-top: 0px;
    margin-left: 50px;
}

#menu_links{
    font-family: Arial, sans-serif;
    font-style: italic;
    position: relative;
    left: 70px;
    bottom: 35px;
}
#icon_give_warm{
    border: 1px solid #8d372f;
    border-radius: 40%;
}
#menu_links a{
    text-decoration: none;
    color: #eaeaea;
    border: 2px solid #348d58;
    border-radius: 8px;
    padding: 2px;
    background: repeating-linear-gradient(to bottom right,rgb(0, 196, 244) 0%,rgb(3, 96, 120) 100%);;
}
#menu_links a:hover {
    color: #eacb8b;
    border: 2px solid #8d372f;
    border-radius: 8px;

}
#product_description, #specification, #detailed_description{
    font-family: Arial, serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: black;
    border: 1px solid #596152;
    border-radius: 4px;
    background-color: #eaeaea;
}
#text_product_description{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
#text_detailed_description{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
#text_specification{
    color: #2e2941;
    font-size: 16px;
    list-style-type: none;
    list-style-image: url("images/style/list_marker_2.png");
}
#image_product {
    border: 2px solid #596152;
}
#mini_image_product img {
    border: 2px solid #596152;
}
#myForm input{
    font-family: Arial, serif;
    text-transform: capitalize;
    color: #3c6b2a;
    width:20%;
    height: 20px;
    font-size: 16px;
    text-align: center;
}
#myForm [type=email]:focus-within{
    color: #1a256b;
    background-color: #eacb8b;
}
#myForm textarea{
    font-family: Tahoma, sans-serif;
    color: #6b1517;
    width:20%;
    height: 40px;
    font-size: 16px;
}
footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    /*background: #c78b38;*/
    background-image: url("images/background/warm_background.jpg");
    width: 100%;
}
body h3{
    font-family: myFont;
    font-size: 30px;
}
@font-face {
font-family: "myFont";
src: url("fonts/myFont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


